<!-- #wrapper -->
<div id="wrapper"[class.active]="isClassVisible">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li>
                    <a data-scroll>Home</a>
                </li>
                <li>
                    <a  data-scroll>Profile</a>
                </li>
                <li>
                    <a [routerLink]="['/']">Sign Out</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="content-header">
            <a class="c-hamburger pull-left" id="menu-toggle" (click)="isClassVisible = !isClassVisible;">
                <span>toggle menu</span>
            </a>
            <a  class="header-brand" >WEBSITE BRAND</a>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#wrapper -->

