<div class="col-xs-12">
    <div class="signIn">
        <div>
            <button type="submit" (click)="loginWithFacebook()" class="btn btn-primary btn-block">Sign with facebook
            </button>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div>
            <button type="submit" (click)="loginWithGoogle()" class="btn btn-primary btn-block">Sign with Google +
            </button>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <form role="form" [ngFormModel]="loginFormCtrl" (submit)="onSubmit(userName,password)" id="loginForm">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" [(ngModel)]="userName" ngControl="userNameCtrl" class="form-control" id="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required >
            <!--<div *ngIf="!username.valid"><p>please enter username</p></div>-->
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" [(ngModel)]="password" ngControl="userPasswordCtrl" class="form-control" id="password" required>
            <!--<div *ngIf="!userpassword.valid"><p>please enter password</p></div>-->
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
        </div>
    </form>
</div>

    <div class="col-xs-12">
        <button (click)="onSignUp()" class="btn btn-primary btn-block">Sign Up</button>
    </div>

    <div class="col-xs-12 text-center forgot-password">
        <a (click)="onforgotPassword()" >Forgot Your Password</a>
    </div>
