<div class="col-xs-12">
    <form role="form" id="changePasswordForm">
        <div class="form-group">
            <label for="password">Existing Password:</label>
            <input type="password" class="form-control" id="password" >
        </div>
        <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input type="password" class="form-control" id="newPassword" >
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmPassword">
        </div>
        <button type="submit" class="btn btn-default" >Change Password</button>
    </form>
</div>
