<div class="col-xs-12 forgot-password" id="">
    <h3>Forgot your Password?</h3>
    <p>Enter your account email address and we will send you an email to reset your password.</p>
    <form role="form" [ngFormModel]="forgotPasswordFormCtrl" (submit)="onSubmit(userName)" >
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="userName" ngControl="userNameCtrl" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required >
        </div>
        <button type="submit" class="btn btn-primary btn-block">Send Mail</button>
    </form>
</div>
<div class="text-center back">
    <a [routerLink]="['/']">Sign In</a>
</div>
