<div class="col-xs-12">
    <form role="form" id="resetPasswordForm">
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" >
            <control-messages control="password"></control-messages>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmPassword">
            <control-messages control="confirmPassword"></control-messages>
        </div>
        <button type="submit" class="btn btn-default" >Reset Password</button>
    </form>
</div>
